GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=true

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD_SECRET=clickhouse-password

CLICKHOUSE_MCP_URL=
CLICKHOUSE_MCP_AUTH_TOKEN_SECRET=clickhouse-mcp-auth-token
